<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{page.title}}{% endblock %}</title>  
    {% block javascripts %}
      <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>    
    {% endblock %}  

    <script type="text/javascript" src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script type="text/javascript">
        ShopifyApp.init({
          apiKey: '{{shopify.api_key}}',
          shopOrigin: 'https://{{shop}}',
          debug: true,
          forceRedirect: true
        });
        ShopifyApp.ready(function() {
          ShopifyApp.Bar.initialize({
            title: '{{page.title}}',
            buttons: {
              primary : { label : 'Home', href : "{{shopify.redirect_url}}", target: "app"},
              secondary: [                         
                {% block buttonsSecondary %}{% endblock %}

              ],                    
            }                    
          });
        });  
    </script>
    
          
  </head>
  <body>
    <div class="fg-shopify-container">
    {% block navigation %}{%endblock%}
    {% block body %}  {% endblock %}
   </div>  
   {% block stylesheets %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css"  media="all"  />     
   {% endblock %}
  </body>
</html>
